localhost:9000
{
    root /Users/dongyuangui/GITHUB/obtainMsgServer/patchserver/static/icon
    log /Users/dongyuangui/GITHUB/testabc/log
    proxy /api localhost:9999/hotfix-console {
        
        

    }

}
